/* test1.css 파일 */
/* 기존 CSS 코드에 추가 스타일을 적용하였습니다. */

.top_section {
  height: 35vh;
  // background-color: #245a18;
  background-image: url("../assets/top2.jpg");
  background-size: cover;
  h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 10vh;
  }
  margin-bottom: 30px;
}

.plant-info-container {
  height: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px !important;
}

.plant-info-col {
  background-color: white;
  border-radius: 4px;
  margin-left: 30px;
  height: 80vh;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  form {
    margin-top: 50px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

.plantinfo-stack h2 {
  text-align: center;
  font-weight: bold;
}

.plantinfo-stack input {
  text-align: center;
  font-weight: bold;
}

.plantinfo-stack button {
  text-align: center;
  font-weight: bold;
}

.scroll-container {
  max-height: 100%; /* Adjust this value to fit your needs */
  overflow-y: auto;
}

.checkP {
  margin-top: 1px;
  margin-bottom: 0;
}

.offcanvas.offcanvas-top {
  height: 45vh !important;
}

.plant-img-card img {
  cursor: pointer;
  &:hover {
    background-color: rgb(220, 233, 224);
  }
}

.offcanvas-body p {
  font-weight: bold;
}

/* 커스텀 버튼 스타일 */
.custom-button {
  border: 0 !important;
  border-radius: 4px;
  color: #fff; /* 버튼 글자색 */
  // background-color: #94b9e1; /* 버튼 배경색 */
  background: #1c5222;
  position: relative;
  font-weight: bold; /* 글자 굵기 */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* 애니메이션 효과 */
  cursor: pointer;
  font-size: 20px;
}
.create-btn {
  height: 50px;
  width: 100%;
}
.custom-button:hover {
  background-color: #29ce00; /* 버튼 배경색 변경 (마우스 호버 시) */
  border-color: #29ce00; /* 버튼 테두리색 변경 (마우스 호버 시) */
}

.custom-button:active {
  background-color: #4c777b; /* 버튼 배경색 어두워짐 (마우스 클릭 시) */
  border-color: #4c777b; /* 버튼 테두리색 어두워짐 (마우스 클릭 시) */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* 모달보다 낮은 Z-index 값을 설정하여 모달 뒤로 숨김 */
}
