.diary_total {
  // background-image: linear-gradient(to right, #cfead0, #77a98d);
  min-height: 100vh;
}
.centered-elements {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  margin-top: 30px;
}

.diary-container {
  display: flex;
  height: 100%;
}
// .diary_title {
//   font-family: 'Hind Madurai', sans-serif;
//   text-transform: uppercase;
//   font-size: 92px;
//   color: #bcd2a3;
//   text-shadow: 0 8px 9px #3c5542, 0 -2px 1px #dcdada;
//   font-weight: bold;
//   text-align: center;
// }
