
.cardContainer {
  display: flex;
  gap: 10px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.profile-container {
  display: flex;
  align-items: flex-start;
  position: relative; 
  z-index: 1; 
  padding-bottom: 150px;
  overflow-x: hidden; /* 가로 스크롤 숨김 */

}
.profilepage {
  background-image: url(../assets/profileback.jpg);
  background-size: contain; /* 이미지를 요소에 맞게 비율을 유지하며 설정 */
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
}

.mySwiper {
  width: 100%; /* 슬라이드의 부모인 mySwiper 클래스의 너비를 100%로 설정 */
}
.profile-left {
  position: relative;
  height: 100%;
  margin-right: 50px;
  box-sizing: border-box; /* border와 padding을 포함한 크기로 계산 */
  color : white;
}

.profile-left > * {
  width: calc(100% - 200px);
}

/* 자식 요소들에게 .profile-left의 크기를 상속하도록 설정 */
.profile-left > * {
  height: 100%;
  width: 100%;
}

.profile-right {
  margin-top: 40px ;
  position: relative;
  height: 100%;
  color : white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 230px !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.swiper-pagination {
  position: absolute;
  text-align: start !important;
  left: 1% !important;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.plusbutton {
  border: 1px solid black;
  border-radius: 20px;
  visibility: inherit !important;
  cursor: pointer;
}