
.cardContainer {
  display: flex;
  gap: 10px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.profile-container {
  display: flex;
  align-items: flex-start;
  position: relative; 
  z-index: 1; 
  padding-bottom: 150px;
  overflow-x: hidden; /* 가로 스크롤 숨김 */

}
.profilepage {
  width : 100%;
  

}

.mySwiper {
  width: 100%; /* 슬라이드의 부모인 mySwiper 클래스의 너비를 100%로 설정 */
}


/* 자식 요소들에게 .profile-left의 크기를 상속하도록 설정 */


/* .profile-right {
  
  position: relative;
  height: 100%;
  color : black;
  border : 2px solid black;
  border-radius: 2ch;
  padding : 30px;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #1c6809;
  width: 230px !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.swiper-pagination {
  position: absolute;
  text-align: start !important;
  left: 1% !important;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.plusbutton {
  border: 1px solid black;
  border-radius: 20px;
  visibility: inherit !important;
  cursor: pointer;
}

.profile-total{
  background-image: linear-gradient(to right, #cfead0, #77a98d);
}

.plant{
  border : 1px solid black;
  border-radius: 2ch;
  background-color: white;
}