@font-face {
  font-family: 'KCC-DodamdodamR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-DodamdodamR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.profile-total{
  font-family: 'KCC-DodamdodamR';
}

.cardContainer {
  display: flex;
  gap: 10px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.profile-container {
  display: flex;
  align-items: flex-start;
  position: relative; 
  z-index: 1; 
  padding-bottom: 150px;
  overflow-x: hidden; /* 가로 스크롤 숨김 */

}
.profilepage {
  display: flex;
  width : 100%;
  justify-content: center;
  
}
.profile-row {
  justify-content: center;
  width : 90%;
}
/* 기본 스타일 */
.videobox {
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  padding-left: 0px;
  
  overflow: hidden;
  visibility: visible;
}

/* LG 화면 크기 이하일 때 숨김 */
@media (max-width: 992px) { /* 예시로 992px로 설정, 실제로는 LG 화면 크기에 맞게 조정 */
  .videobox {
    visibility: hidden;
    display: none;
  }
}

.videobox video {
  max-width: 100%; /* 최대 너비 100%로 설정 */
  max-height: 100%; /* 최대 높이 100%로 설정 */
  width: auto; /* 너비 자동 조정 */
  height: auto; /* 높이 자동 조정 */
  border-radius: 2ch;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.profile {
  display: flex; /* Flex 컨테이너로 설정 */
  
  justify-content: center; /* 가로 중앙 정렬 */
  padding-left: 0px;
  
  
   
}

.mySwiper {
  width: 100%; /* 슬라이드의 부모인 mySwiper 클래스의 너비를 100%로 설정 */
}


/* 자식 요소들에게 .profile-left의 크기를 상속하도록 설정 */

.profile_title {
  font-family: 'Hind Madurai', sans-serif;
  text-transform: uppercase;
  font-size: 92px;
  color: #bcd2a3;
  text-shadow: 0 8px 9px #3c5542, 0 -2px 1px #dcdada;
  font-weight: bold;
  text-align: center;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #1c6809;
  width: 250px !important;
  /* height: 500px !important; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.swiper-pagination {
  position: absolute;
  text-align: start !important;
  left: 1% !important;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.plusbutton {
  border: 1px solid black;
  border-radius: 20px;
  visibility: inherit !important;
  cursor: pointer;
}

.profile-total{
  padding-bottom: 40px;
}

.plant{
  /* border : 1px solid black; */
  border-radius: 2ch;
  background-color: white;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
  padding-top : 30px;
  
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn-left{
  display: flex;
  
}
.plant-btn{
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
}
.plant-btn.selected {
  font-weight: bold;
  color: black;
  /*text-shadow:0 2px 10px rgba(0, 0, 0, 0.2);*/
}

.plant-btn:not(.selected) {
  color: rgb(168, 168, 168);
}