.info_box {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 300px;
    background-color: #e4ffeb;
    border-radius: 20px ;
    border: 2px solid #4caf50;
  }
  
  .info_box_left {
    flex: 3; /* 왼쪽 요소가 남는 공간을 모두 차지하도록 설정하여 왼쪽 정렬합니다. */
  }
  
  .info_box_right {
    flex: 5; /* 오른쪽 요소가 남는 공간을 모두 차지하도록 설정하여 오른쪽 정렬합니다. */
    
  }