.quest-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.quest-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
  
}

.quest-section:nth-child(1) {
  background-color: lightgray;
}

.quest-section:nth-child(2) {
  background-color: lightblue;
}

.quest-input {
  margin-top: 10px;
  width: 500px;
  height: 50px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  display: flex; /* Use Flexbox to align input and button horizontally */
  align-items: center; /* Center align items vertically */
}

.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translateY(-50%);
  cursor: pointer;
}
.create-quest {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #a6ca9f;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}