.shop-cart-main {
  overflow: auto; 
  height: 80vh ;
  border: 0.001rem solid black;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
  padding-top: 30px;
}

.main-col{
  overflow: auto; 
  height: 80vh;
}