.service1-main-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service1-row {
  height: 90%;
  text-shadow: 0 0 0 1px black; 

}

.service1-col{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service2-col{
  /* margin-top: 16% !important; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.col1-service img {
  width: 80%;
}
.child-img {
  display: hidden;
  position: absolute;

  left: 20%; /* 초기 위치 */
  animation: slideLeft 10s linear infinite; /* 애니메이션 적용 */
}

@keyframes slideLeft {
  0% {
    left: 20%; /* 초기 위치 */
  }
  100% {
    left: -20%; /* 왼쪽으로 3px씩 이동 */
  }
}