.item-card {
  height: 100% !important;
  position: relative;
  background-color: #1c6809 !important;
}

.ltemList-col{
  margin-bottom: 30px !important;
}

.ltemList-col div{
  padding: 5px !important;
}

.img-fluid{
  height: 200px !important;
    width: auto !important;
}
.ripple  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.item-btn{
  bottom: 0;
  
}