/* signup.css */

.containerbox {
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  height: 80vh;
  width: 60%;
  overflow: hidden;
}

.containerbox > * {
  height: 100%;
}

.flexbox-left {
  width: 100%;
  background-image: url('../assets/0000.jpg');
  background-size: cover; /* 이미지를 .flexbox-left에 맞게 cover로 설정 */
  background-repeat: no-repeat;
}

.flexbox-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-right > * {
  width: 80%;
}

.signupimg {
  max-width: 100%;
  max-height: 100%;
}
