body {
    margin: 0;
    padding: 0;
  }
  
  footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  .navbarColor {
    font-size: 30px;
    background-color: #5ab25b;
    color: black;
    margin-bottom: 30px;
  }
  .logoImg {
    height: 0px;
  }